* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
}

section {
  padding: 20px;
  width: 1280px;
  margin: 40px auto;
}

section ul {
  display: flex;
  margin-bottom: 10px;
}

section ul li {
  list-style: none;
  background: #ddd;
  padding: 8px 20px;
  margin: 5px;
  letter-spacing: 1px;
  cursor: pointer;
}

section ul li.active {
  background: #03a9f4;
  color: #ffffff;
}

.product {
  display: flex; /* show flex style but all across */
  flex-wrap: wrap; /* Shows item evenly in rows */
}

.product .itemBox {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 5px;
}

.product .itemBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@media screen and (max-width: 700px) {
.product {
display: inline-block;
  }

  .product .itemBox {
    position: relative;
    width: 261px;
    height: 300px;
    margin: 100px;
    margin-left: 425px;
  }

  section ul {
    margin-left: 300px;
  }
}
